@tailwind base;
@tailwind components;
@tailwind utilities;

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root),
:root[data-theme='dark']::view-transition-new(root) {
  z-index: 9999;
}

::view-transition-new(root),
:root[data-theme='dark']::view-transition-old(root) {
  z-index: 99;
}

:root {
  --color-primary: #e9724c;
  --color-primary-hover: #e7450f;
  --color-primary-content: #212121;
  --color-secondary: theme(colors.gray.100);
  --color-opposite: #683f9e;
  --color-opposite-neutral: #2b3039;
  --color-neutral: #ffe4c9;
  --color-foreground: 0 0 0;
  --color-background-start: 255 255 255;
  --color-background-end: 214 219 220;
  color: black;
}

:root[data-theme='light'] {
  --color-primary: #e9724c;
  --color-primary-hover: #e7450f;
  --color-primary-content: #212121;
  --color-secondary: theme(colors.gray.100);
  --color-opposite: #683f9e;
  --color-opposite-neutral: #2b3039;
  --color-neutral: #ffe4c9;
  --color-foreground: 0 0 0;
  --color-background-start: 255 255 255;
  --color-background-end: 214 219 220;
  color: black;
}

:root[data-theme='dark'] {
  --color-primary: #683f9e;
  --color-primary-hover: #5c19b4;
  --color-primary-content: #d6dbdc;
  --color-secondary: theme(colors.gray.700);
  --color-opposite: #e9724c;
  --color-opposite-neutral: #ffe4c9;
  --color-neutral: #2b3039;
  --color-foreground: 0 0 0;
  --color-background-start: 33 33 33;
  --color-background-end: 29 35 42;
  color: #d6dbdc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #623f3f;
    --color-primary-hover: #3d2727;
    --color-primary-content: #d6dbdc;
    --color-secondary: theme(colors.gray.700);
    --color-opposite: #e9724c;
    --color-opposite-neutral: #ffe4c9;
    --color-neutral: #2b3039;
    --color-foreground: 0 0 0;
    --color-background-start: 33 33 33;
    --color-background-end: 29 35 42;
    color: #d6dbdc;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.btn-primary {
  @apply rounded bg-primary px-4 py-2 hover:bg-primary-hover hover:transition-all;
}

.btn-secondary {
  @apply rounded bg-gray-200 px-4 py-2 text-black transition-all hover:bg-gray-300;
}

.btn-disabled {
  @apply rounded bg-gray-600 px-4 py-2 text-white transition-all;
}

.btn-danger {
  @apply bg-red-500 px-4 py-2 text-white transition-all hover:bg-red-700;
}

.filepond--root {
  @apply mx-auto my-0 w-[200px];
}

.filepond--root .filepond--drop-label {
  @apply text-inherit;
}

.filepond--label-action {
  @apply decoration-inherit hover:text-primary hover:decoration-primary;
}

.filepond--drip .filepond--drip-blob {
  @apply bg-primary;
}

.filepond--root[data-style-panel-layout~='circle'] .filepond--panel-root {
  @apply bg-neutral;
}

.filepond--credits {
  @apply hidden;
}

.swiper-free-mode > .swiper-wrapper {
  @apply flex justify-center;
}
